{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'info-pedido' %}" class="border border-secundary mb-3 p-3 text-center">

        <h1 class="h5 mb-3 fw-normal">Solicitar Entrega Fácil para pedido</h1>
        <div class="form-floating">
            <input type="text" name="inputpedido" placeholder="Digite o nº do pedido" class="border-secundary rounded-0"
                aria-label="button-addon2">
            <button type="submit" id="button-addon2">Ver Pedido</button>
        </div>

    </form>
{% endblock %}
