<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Pedidos - Pedido</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">API Saipos - Entrega Fácil Ifood</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://conta.saipos.com"
                                target="_blank" rel="noopener noreferrer">Saipos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://gestordepedidos.ifood.com"
                                target="_blank" rel="noopener noreferrer">Ifood</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="container p-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Informações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Número do pedido</th>
                    <td>123456</td>
                </tr>
                <tr>
                    <th scope="row">Nome do Cliente</th>
                    <td>José Silva</td>
                </tr>
                <tr>
                    <th scope="row">telefone</th>
                    <td>81999999999</td>
                </tr>
                <tr>
                    <th scope="row">Data/Hora do pedido</th>
                    <td>01/07/2023 - 19:52:30</td> 
                </tr>                   
                <tr>
                    <th scope="row">Endereço de entrega</th>
                    <td>Rua São Francisco de assis, Cruz de Rebouças, Igarassu</td>
                </tr>
                <tr>
                    <th scope="row">Número</th>
                    <td>110</td>
                </tr>
                <tr>
                    <th scope="row">Complemento</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Ponto de referência</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Valor de produtos</th>
                    <td>R$ 60,00</td> 
                </tr>                   
                <tr>
                    <th scope="row">Valor do frete</th>
                    <td>R$ 7,00</td>
                </tr>
                <tr>
                    <th scope="row">Valor do pedido</th>
                    <td>R$ 67,00</td>
                </tr>
                <tr>
                    <th scope="row">Forma de Pagamento</th>
                    <td>Débito</td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-success">Chamar Entregador</button>
    </div>
</body>

</html>