{% extends 'base.html' %}
{% block content %}

    <div class="container p-3">
        {% if itens is not True %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Informações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Número do pedido</th>
                    <td>{{itens.numero_pedido}}</td>
                </tr>
                <tr>
                    <th scope="row">Nome do Cliente</th>
                    <td>{{itens.nome_cliente}}</td>
                </tr>
                <tr>
                    <th scope="row">telefone</th>
                    <td>{{itens.telefone}}</td>
                </tr>
                <tr>
                    <th scope="row">Data/Hora do pedido</th>
                    <td>{{itens.data}}</td> 
                </tr>                   
                <tr>
                    <th scope="row">Endereço de entrega</th>
                    <td>{{itens.endereco_entrega}}</td>
                </tr>
                <tr>
                    <th scope="row">Número</th>
                    <td>{{itens.numero_entrega}}</td>
                </tr>
                <tr>
                    <th scope="row">Complemento</th>
                    <td>{{itens.complemento}}</td>
                </tr>
                <tr>
                    <th scope="row">Ponto de referência</th>
                    <td>{{itens.referencia}}</td>
                </tr>
                <tr>
                    <th scope="row">Valor de produtos</th>
                    <td>R$ {{itens.valor_produtos}}</td> 
                </tr>                   
                <tr>
                    <th scope="row">Valor do frete</th>
                    <td>R$ {{itens.frete}}</td>
                </tr>
                <tr>
                    <th scope="row">Valor do pedido</th>
                    <td>R$ {{itens.total_pedido}}</td>
                </tr>
                <tr>
                    <th scope="row">Forma de Pagamento</th>
                    <td>{{itens.forma_pagamento}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        <button type="button" class="btn btn-success">Chamar Entregador</button>        
    </div>
{% endblock %}